<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>
	</head>

	<body>
		<div id="root"></div>
	</body>

</html>